<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Eric Alcaide">
    <meta name="description" content="MemCaption">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/troll.png" type="image/png">

    <title>MemCaption 🐣</title>

    <!-- Milligrami Core CSS -->
    <link href="../static/css/milligram.css" rel="stylesheet">
    <link href='../static/css/main.css' rel="stylesheet">

</head>

<body id="page-top">
    <nav class="container">
        <a class="button button-outline" href="/">🏠 Home</a>
        <a class="button button-outline" href="/leaderboard/">🥇 Leaderboard</a>
        <a class="button button-outline" href="/post2/">🎆 Last Post</a>
        {% if session["username"] %}
            <a class="button button-outline" href="/logout/">🚪 Log out</a>
        {% else %}
            <a class="button button-outline" href="/signup/">📩  Sign up</a>
            <a class="button button-outline" href="/login/">🔑 Log in</a>
        {% endif %}
        
    </nav>


    <br/>
    <!-- Clear any float. HEADER  -->
    <div class="clearfix header container">
        <h3 id="homeHeading" style="color:#9b4dca;"><b>MemCaption, type the funniest meme caption.</b></h3>
    </div>	

	<!-- BODY -->
	{% block content %}
	{% endblock %}

    <!-- FOOTER -->
    <section class="container" id="contact" style="margin-top:10rem;">
        <h3 class="title">Contact</h3>
        <p>Feel free to <a href="mailto:ericalcaide1@gmail.com.com">email</a> us to provide some feedback on our app, give us suggestions, or to just say hello!</p>
        <p><b>Twitter:</b> <a href="https://twitter.com/eric_alcaide" title="twitter" target="_blank">@eric_alcaide</a></p>
    </section>

    <section class="container" id="contributing" style="margin-top:5rem;">
        <h3 class="title">Open project</h3>
        <p align="justify">MemCaption is being built in an open way. You can see the current status of the project <a href="https://trello.com/b/rNs7rZxK/erics-summer" target="_blank"> here</a>. It's main source of inspiration is <a href="https://caption.cat" target="_blank">caption.cat</a> by <a href="https://wip.chat/@marckohlbrugge" target="_blank"> Marc Kohlbrugge</a>.</p>
    </section>

    <footer class="footer" style="margin-top:5rem;">
        <section class="container">
            <p>Created with ♥ by <a href="https://ericalcaide.com" title="Eric Alcaide" target="_blank" >Eric Alcaide</a>.
        </section>
    </footer>


</body>

</html>