{% extends 'base.html' %}

{% block content %}
	<!-- BODY -->
    <section class="container" id="photos" style="margin-top:2rem; width:60%; margin-right: auto;">
    <h3 class="title">🥇 Leaderboard</h3>

    <p>A little effort and your name can be here too... What are you waiting for?</p>

        <div class="image" style="max-width:30rem;">

        <table>
            <thead>
                <tr>
                    <th style="padding-left:2em;">Pos.</th>
                    <th>Username</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data %}
                    {% if user["pos"] == 1 %}
                        <tr style="background-color:#FFEA50;">
                            <td style="padding-left:2em;">{{user["pos"]}}</td>
                            <td>{{user["username"]}}</td>
                            <td style="color:#9b4dca; font-weight:bold;"><big>&#x2764</big> {{user["score"]}}  </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="padding-left:2em;">{{user["pos"]}}</td>
                            <td>{{user["username"]}}</td>
                            <td style="color:#9b4dca; font-weight:bold;"><big>&#x2764</big> {{user["score"]}}  </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>


        </div>
    </section>

{% endblock %}