{% extends 'base.html' %}

{% block content %}
	<!-- BODY -->
    <section class="container" id="photos" style="margin-top:2rem; margin-right: auto;"> <!--  width:60%; -->
	
		<div class="image" style="max-width:75rem;"">
            <img src="/static/img/{{image.name}}" style="max-height:50%; border-radius:0.5rem;">

            <p style="margin:0px;"><b>Source: </b><a href="https://{{image.source_link}}" title="source">{{image.source_name}}</a></p>

            <dl>
                {% for comment in comments %}
                <dt style="border: 1px solid #eee; margin:0px;">
                    <a class="button" href="/{{image.id}}upvote{{comment.id}}/" title="upvote" style="margin:0px;"><big>&#x2764</big> {{comment.score}}</a>
                    &nbsp;&nbsp;&nbsp; <b>{{comment.username}}: </b> &nbsp; {{comment.text}}
                </dt>
                {% endfor %}
                <!-- Only show comment box if user logged in -->
                {% if session["username"] %}
                    <dt>
                        <form method="POST" action="/add_comment/">
                            <input type="hidden" name="img_id" value="{{image.id}}">
                            <input type="text" placeholder="Comment..." name="text" style="margin:0px; width:70%"><input class="button-primary" type="submit" value="Send" style="margin:0px; width:30%; border-radius:0.5rem;">
                        </form>
                    </dt>
                {% else %}
                    <dt>
                        <a href="/signup/" class="button button-outline">Sign Up to type a comment</a>
                        <a href="/login/" class="button button-outline">Login</a>
                    </dt>
                {% endif %}
            </dl>
        </div>
    </section>

{% endblock %}